 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
 

.container{
  background-color: rgb(207, 131, 31);
  font-family: 'Roboto', sans-serif;

  margin: 20px;
  padding: 20px;


}

.box {
  background-color: rgb(95, 237, 79);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 3em 2em;
  width: 60em;
  text-align: center;
}

h2 {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
  text-align: center;
}

.joke {
  font-size: 2em;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 2em auto;
  max-width: 50em;
}

.btn {
  background-color: #9f68e0;
  color: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;

}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 2;
}
