 body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  }

 .container {
   background-image: url("./img/scn.jpg");
   background-size:cover;
   height: 100vh;
   width: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   overflow: hidden;
   display: flex;
 }

 .box {
   background-color: rgb(95, 237, 79);
   border-radius: 10px;
   box-shadow: 0 10px 20px rgba(233, 171, 171, 0.2), 0 6px 6px rgba(223, 46, 23, 0.986);
   padding: 0.2em 0,2em;
   width: 50em;
   height: auto;
   margin: auto;
   text-align: center;
 }

 h2 {
   margin: 0;
   opacity: 0.5;
   letter-spacing: 2px;
   text-align: center;
 }

 .joke {
   color: #000;
   font-size: 2em;
   letter-spacing: 1px;
   line-height: 1em;
   margin: 0.5em 0.5em;
 }

 .btn {
   background-color: #9f68e0;
   color: #fff;
   border: 0;
   border-radius: 10px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
   padding: 1em;
   font-size: 1em;
   cursor: pointer;
 }

 .btn1{
  background-color: transparent;
  font-size: 3em;
  border:none;
  margin-bottom: 0.5em;
  cursor: pointer;
 }

 .btn:active {
   transform: scale(0.98);
 }

 .btn:focus {
   outline: 2;
 }